.clearfix:after{
	content:'';
	display:table;
	clear:both;
}
html,body{
	height: 100%;
}
body{
	min-width: 320px;
	font: 20px/34px 'Oswald', sans-serif;
	color: #000;
	background: #fff;
	margin: 0;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust:none;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
p{
	margin: 0 0 10px;
}
p:last-child{
	margin: 0;
}
ol,
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
ol{counter-reset:section;}
ol>li{
	counter-increment:section;
	position:relative;
}
ol>li:before{
	float:left;
	vertical-align:top;
	content:"" counter(section) " -";
	padding:0 3px 0 0;
}
img{
	vertical-align:top;
	border-style:none;
	max-width: 100%;
	height: auto;
}
a{
	color: #0f67f4;
	text-decoration: none;
	transition: all 0.2s ease;
}
a:hover{
	text-decoration: underline;
}
input[type=text], input[type=submit], input[type=button],
input[type=password], input[type=file], textarea{
	-webkit-appearance:none;
}
input[type="number"]{
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button{
	display: none;
}
button,
input,
textarea,
select{
	font:100% Roboto, Arial, Helvetica, sans-serif;
	color:#343f52;
	outline:none;
}
::-moz-placeholder{
	color: #999;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #999;
}
::-webkit-input-placeholder {
	color: #999;
}
input[type="number"]{
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner{
	padding:0;
	border:0;
}
/* container */
.container{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.mb0{
	margin-bottom: 0 !important;
}

.main{
	padding-top: 50px;
	padding-bottom: 50px;
}
.truck-item{
	margin: 0 0 35px;
	padding: 0 0 35px;
	border-bottom: 6px solid #000;
}
.truck-item:last-child{
	padding: 0;
	margin: 0;
	border: none;
}
.truck-item h2{
	margin: 0 0 15px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
}
.truck-item .holder{
	overflow: hidden;
}
.truck-item .img{
	float: left;
	width: 315px;
	margin: 0 30px 5px 0;
    text-align: right;
}
.truck-item .text{
	overflow: hidden;
	text-transform: uppercase;
}
.contact-info{
	text-transform: none;
}
.contact-info a{
	color: #333;
}
.text-img{
	display: flex;
	display: -ms-flexbox;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	float: right;
	margin: 10px 50px 10px 10px;
	/*border-radius: 50%;*/
	width: 120px;
	height: 120px;
	border: 1px solid #000;
    position: relative;
}
.expand-link{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 34px;
    height: 34px;
    background: rgba(255,255,255,0.5);
    padding: 5px;
}
.expand-link:hover{
    background: rgba(255,255,255,0.7);
}
.expand-link .icon{
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/icon-expand.svg") no-repeat 0 0;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;

}

/* media queries */
@media(max-width: 1199px){
    .truck-item .img{
        width: 250px;
    }
	.text-img{
		margin: 10px;
	}
}
@media(max-width: 991px){
    .truck-item .text{
        overflow: visible;
    }
}
@media(max-width: 767px){
    .truck-item .img{
        float: none;
        width: 290px;
        margin: 0 auto 30px;
    }
    .truck-item .text{
        position: relative;
        /*padding-top: 140px;*/
    }
    .text-img{
        position: absolute;
        left: 50%;
        top: 0;
        margin: 0 0 0 -60px;
    }
}